.navbar{
    background-color: rgba(128, 128, 128, 0.332);
    height: 60px;
    text-align:end;


}
button{
    
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 21px;
    margin-right: 25px;
    
}
.Tag{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px; 
    margin-top: 30px; 
    background-color: rgba(89, 100, 110, 0.338);
}
.menu{
    background-color: rgba(128, 128, 128, 0.405);
    height: 190px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: row;
    overflow:auto;
}
.items{
    height: 130px;
    width: 130px;
    border: 2px solid black;
    border-radius: 50%;
    
}
.offers{
    height: 220px;
    background-color: rgba(128, 128, 128, 0.407);
    margin-top: 30px;
}
.heading{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.container{
    display:flex;
    height:auto;
    
    background-color: rgba(97, 106, 106, 0.29);
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap: 60px;
    

}
.food{
    height: 220px;
    width: 250px;
    background-color: azure;
    border: 3px solid black;
    border-radius: 15px;
    color: #22223b;

}
.inside{
    background-color: blanchedalmond;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 150px;

}
.price{
    display: flex;
    gap: 10px;
}

.dishinfo{
    display: flex;
    gap: 87px;
 }
.rating{
    height: auto;
    background-color: rgb(153, 255, 0);
    margin-top: 2px;
    color: rgb(241, 242, 243);
 }
.food:hover{
    transition: transform 1s ease;
    transform: scale(0.9);
}
#food1{
    margin-top: 40px;
}
#food2{
    margin-bottom: 40px;
}
.footer {
    display: flex;
    justify-content: space-around;
}

footer {
    height: 300px;
    width: auto;
    color: white;
    background-color: #22223b;
    display: flexbox;
    margin-top: 50px;
    margin-bottom: 30px;


}
a{
    text-decoration: none;
    color: rgb(220, 227, 234);
}
#box{
    display: inline-block;
}

.comment {
        font-family: cursive;
 }
 .price{
    display: inline-block;
 }